.viewproducts{
  .row{
    padding: 20px 0px;
  }
  p{
    color: white;
    text-align: right;
    float: right;
    font-size: 2.7rem;
    padding: 10px 0px;
    margin-bottom: 0px;
    font-family: 'Anton', sans-serif;
  }
  a{
    float: left;
  }
}



/**
 * Products Main Page
 */
.p-products {
    h1 {
        margin-bottom: 1rem;
        color: $secondaryColor;
    }
}

.pcards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 3rem;
}
.pcard {
    // flex: 1 0 48%;
    max-width: 48%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    background: #fff;
    margin: 1rem 0;
}
.pcard-block { // right side of card
    flex: 1 0;
    display: flex;
    flex-flow: column wrap;
    padding: 1.5rem;
}
.pcard-text {
    flex: 1 1 auto;
    line-height: 1.25;
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.pcard-footer {
    background: none;
    justify-content: flex-end;
    a {
        position: relative;
        color: $primaryColor;
        &:hover {
            color: $secondaryColor;
            &:after {
                transform: translateX(80%);
            }
        }
        // @todo maybe move this to a mixin
        &:after {
            content: "\f101";
            font-family: "fontawesome";
            display: inline-block;
            transform: translateX(50%);
            transition: transform 0.2s ease-in-out;
        }
    }
}

/** Single Product */
.product-wrap {
    padding: 4rem 1rem;
    background: $primaryColor;
    color: #fff;
    h2 {
        font-weight: bold;
        margin-bottom: 2.5rem;
    }
    p {
        margin: 0;
        &:not(:last-child) {
            margin-bottom: 1.75rem;
        }
    }
    .btn {
        text-transform: uppercase;
        font-weight: bold;
        min-width: 150px;
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    hr {
        height: 0;
        margin: 3rem -15px;
        background-color: rgba(white,0.75);
    }
    .flexed {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    .pcol {
        flex: 1 0 42%;
        display: flex;
        flex-flow: column wrap;
        .buttons {
            margin-top: auto;
            padding-top: 1.5rem;
        }
    }
    ul {
        list-style-type: square;
        margin-bottom: 0;
        padding-left: 1.25rem;
        li:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}

/** Product Line Carousel */
.product-line-wrap {
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2 {
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        text-align: center;
        color: $secondaryColor;
        margin-bottom: 2.5rem;
    }
}
.product-line {
    display: none;
    .slick-track {
        display: flex;
        align-items: stretch;
    }
    .slick-list {
        width: 1000px;
        margin: auto;
    }
    p {
        margin: 0;
    }
    a {
        min-width: 224px;
        max-width: 224px;
        margin: 1rem 2rem;
        background: $darkGray;
        &:hover {
            h3 {
                &:after {
                    transform: translateX(80%);
                }
            }
        }
    }
    h3 {
        font-family: "Oswald", sans-serif;
        padding: 0.5rem 1rem;
        margin-bottom: 0;
        color: #fff;
        height: 64px;
        line-height: 46px;
        &.taller {
            line-height: 1.2;
            font-size: 1.25rem; // 20px
            &:after {
                bottom: 22px;
            }
        }
        &:after {
            content: "\f101";
            font-family: "fontawesome";
            position: absolute;
            bottom: 24px;
            transform: translateX(50%);
            transition: transform 0.2s ease-in-out;
        }
    }
}

.home .product-line-wrap h2 {
    display: none;
}

.slick-product-prev,
.slick-product-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 9rem;
    color: $secondaryColor;
    &:focus {
        color: darken($secondaryColor,10%);
    }
    &:hover {
        color: $primaryColor;
    }
}
.slick-product-next {
    right: 0;
}

/***********************************
** Left/right aligned containers
************************************/
.container-fluid {
    &.container-r,
    &.container-l {
        padding: 0; // get rid of the padding of the fluid container
    }
}
// Defaults
.container-r,
.container-l {
    .flexed {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
    }
    .f-col {
        flex: 1; // for now
    }
}
.container-r {
    .f-info {
        padding: 3rem 1.5rem 3rem 1rem;
        p {
            margin-bottom: 2rem;
        }
    }
    .f-pics {
        p { // stupid wordpress paragraphs
            margin: 0;
        }
    }
}
